#header {
  width: 100%;
  height: 100vh;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
}

#header h2 {
  color: #484848;
  font-size: 49px;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2 px solid #3498db;
  text-decoration: none;
}

.btn-get-started:hover {
  background-color: #3498db;
  color: #fff;
}

.header-img {
  text-align: right;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (min-width: 1000px) {
  .roles {
    margin-top: -50px;
  }
}

.home-page{
  background-color: rgba(17, 24, 39, 1);
}