body {
    width: 100%;
  }
  
  .bg-primary {
    background: #0E0E0E;
  }
  .text-primary {
    color: #0E0E0E;
  }
  
  .bg-primary-light {
    background-color: #2E2E2E;
    background-color: rgba(38,38,38,var(--bg-opacity))
  }
  
  .bg-primary-lighter {
    background-color: #3E3E3E;
    background-color: rgba(62,62,62,var(--bg-opacity))
  }
  
  .border-primary-lightest {
    border-color: #6E6E6E;
  }
  
  .text-primary-lightest, 
  .placeholder-primary-lightest::placeholder {
    color: #6E6E6E;
  }
  
  .fill-primary-lightest {
    fill: #6E6E6E;
  }
  
  .opacity-7 {
    opacity: 0.07;
  }
  
  .bg-opacity-90 {
    --bg-opacity: 0.9;
  }
  
  .bg-blur {
    backdrop-filter: blur(0.325rem);
  }
  
  .bg-accent {
    background: #00FFA2;
  }
  .text-accent {
    color: #00FFA2;
  }
  .fill-accent {
    fill: #00FFA2;
  }
  
  .bg-accent-gradient {
    background: linear-gradient(to right,#00FFA2, #36B486);
  }
  
  .shadow-showcase {
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.5);
  }
  
  .w-plans {
    width: 120%;
  }
  .inputtextcolor{
    color:white;
  }